<table class="table table-dark table-hover" data-pagination="true" data-search="true" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true" data-field="name">Name</th>
            <th data-sortable="true" data-field="race">Race</th>
            <th data-sortable="true" data-field="profession">Profession</th>
            <th data-sortable="true" data-field="created_at">Date Recruited</th>
            <th data-sortable="true" data-field="state">State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @skyfarers.each do |skyfarer| %>
        <tr >
          <td><%= link_to skyfarer.name, skyfarer%></td>
          <td><%= skyfarer.race %></td>
          <td><%= skyfarer.profession %></td>
          <td><%= skyfarer.created_at %></td>
          <td><%= skyfarer.state %></td>
          <td>
            <%= link_to "Info", skyfarer%> |
            <%= link_to "Update", edit_skyfarer_path(skyfarer)%> |
            <%= link_to 'Dismiss', skyfarer, method: :delete, data: { confirm: 'Dismiss ' + skyfarer.name + "? There's no turning back afterwards." } %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
