<%= form_with(model: captain, local: true) do |form| %>
  <%= render 'shared/captain_error_messages' %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :captain_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
