<%= form_with(model: captain, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :captain_name %>
  </div>

    <%= form.submit class: "btn btn-success", :required => true %>
<% end %>
