<p id="notice"><%= notice %></p>

<% provide(:title, "Captains") %>

<h1>Captains</h1>

<table class="table table-dark table-hover text-center" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="user_id">User_ID</th>
      <th data-sortable="true" data-field="name">Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @captains.each do |captain| %>
      <tr>
        <td><%= captain.user_id %></td>
        <td><%= captain.name %></td>
        <td><%= link_to 'Show', captain %> |
           <%= link_to 'Edit', edit_captain_path(captain) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
