<p id="notice"><%= notice %></p>

<% provide(:title, @captain.name) %>

<h1 class="text-left">
  <%= @captain.name %>'s Crew
</h1>

<div class="row headed-content">
  <div class="col-md-3 crew_info divider crew_summary">
    <p>Skyfarers Recruited: <%= @captain.skyfarers.size %></p>
    <p>Weapons Owned: <%= @captain.arsenals.size %></p>

    <%= radar :radar_chart, @radarSize, @radarData%>
  </div>
  <hr />
  <div class="col-md-9 inventory center crew_info">
    <% if current_captain.present? %>
      <% if current_captain.id == params[:id] %>
        <%= render 'captains/captain_skyfarers', skyfarers: @captain.skyfarers %>
        <%= link_to 'Recruit Skyfarer', new_skyfarer_path, class: "btn btn-lg btn-primary" %>
      <% end %>
      <% else %>
        <%= render 'captains/stalker_skyfarers', skyfarers: @captain.skyfarers %>
      <% end>
    <% end %>

    <% else %>
        <%= link_to 'Captain contract required.', new_captain_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', @user %>
