<%= form_with(model: user, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, :required => true %>
  </div>

  <div class="field">
    <%= form.label :email, "Email Address" %>
    <%= form.email_field :email, id: :user_email, :required => true%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, :required => true%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation, :required => true %>
  </div>

  <%= form.submit "Create My User", class: "btn btn-success", :required => true %>

<% end %>
