<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-dark table-hover text-center" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Username</th>
      <th data-sortable="true" data-field="email">Email Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %> |
             <%= link_to 'Edit', edit_user_path(user) %> |
             <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
