<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>

<div class="row">
  <div class="col-md-1 inventory">
        <%= gravatar_for @user %>
  </div>
  <div class="col-md-1 inventory">
    <br>
    <%= @user.username %>
    <%= @user.email %>
  </div>

  <div class="col-md-7 inventory col-md-offset-2">
    <% if current_captain.present? && @user.authenticate(params[:session]) %>
      <%= render 'captains/user_captain', current_captain: current_captain%>
    <% else %>
        <%= link_to 'New Captain', new_captain_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>


<div class="text-right">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
