<%= form_with(model: weapon, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name, "Weapon Name" %>
    <%= form.text_field :name, id: :weapon_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :weapon_description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select("weapon_type",
      options_for_select([['Sabre', 'Sabre'],
        ['Bow', 'Bow'],
        ['Staff', 'Staff']],
        selected: :weapon_type), {:required => true}, :id => "weapon_type" )  %>
  </div>

  <%= form.submit "Create weapon entry", class: "btn btn-success", :required => true %>

<% end %>
