<%= form_with(model: weapon, local: true) do |form| %>
  <% if weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
      <% weapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :weapon_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :weapon_description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :weapon_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
