<p id="notice"><%= notice %></p>

<% provide(:title, "Blacksmith") %>

<h1>Blacksmith - Weaponry</h1>

<table class="table table-dark table-hover text-center" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="type">Type</th>
      <th data-sortable="true" data-field="name">Name</th>
      <th data-sortable="true" data-field="description">Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= image_tag("weapons/#{weapon.weapon_type}.png".downcase) %></td>
        <td><%= weapon.name %></td>
        <td><%= weapon.description %></td>
        <td><%= link_to 'Details', weapon %></td>
        <td>
          <%= link_to 'Purchase', {:controller => "weapons", :action => "add_arsenal", :captain_id => current_captain.id, :weapon_id=> weapon.id} , :method=>:post  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
