<p id="notice"><%= notice %></p>

<% provide(:title, @weapon.name) %>

<h1>
  <%= image_tag("weapons/#{@weapon.weapon_type}.png".downcase) %>
  <%= @weapon.name %>
</h1>

<h2>
  <%= @weapon.description %>
</h2>

<div class="text-right">
  <%= link_to 'Edit', edit_weapon_path(@weapon) %> |
  <%= link_to 'Back', weapons_path %>
</div>
