<%= form_with(model: skyfarer, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :skyfarer_name %>
  </div>

  <div class="field">
    <%= form.select(:race,
      options_for_select([['Human', 'Human'],
        ['Harvin', 'Harvin'],
        ['Erune', 'Erune'],
        ['Draph', 'Draph'],
        ['Unknown', 'Unknown']],
        selected: :race),  :required => true) %>
  </div>

  <div class="field">
    <%= form.select(:profession,
      options_for_select([['Fighter', 'Fighter'],
        ['Thief', 'Thief'],
        ['Ranger', 'Ranger'],
        ['Knight', 'Knight'],
        ['Warlock', 'Warlock'],
        ['Enhancer', 'Enhancer'],
        ['Priest', 'Priest'],
        ['Harpist', 'Harpist'],
        ['Grappler', 'Grappler'],
        ['Dragoon', 'Dragoon'],
        ['Wizard', 'Wizard']],
        selected: :profession),  :required => true) %>
  </div>

  <%= form.submit "Recruit skyfarer", class: "btn btn-success", :required => true %>

<% end %>
