<p id="notice"><%= notice %></p>

<% provide(:title, "Skyfarers") %>

<h1>Skyfarers</h1>

<table class="table table-dark table-hover text-center" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="captain_id">Captain</th>
      <th data-sortable="true" data-field="name">Name</th>
      <th data-sortable="true" data-field="race">Race</th>
      <th data-sortable="true" data-field="profession">Profession</th>
      <th data-sortable="true" data-field="base_attack">Base attack</th>
      <th data-sortable="true" data-field="base_defense">Base defense</th>
      <th data-sortable="true" data-field="created_at">Date Recruited</th>
      <th data-sortable="true" data-field="state">State</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @skyfarers.each do |skyfarer| %>
      <tr>
        <td><%= skyfarer.captain_id %></td>
        <td><%= skyfarer.name %></td>
        <td><%= skyfarer.race %></td>
        <td><%= skyfarer.profession %></td>
        <td><%= skyfarer.base_attack %></td>
        <td><%= skyfarer.base_defense %></td>
        <td><%= skyfarer.created_at %></td>
        <td><%= skyfarer.state %></td>
        <td><%= link_to 'Show', skyfarer %> |
             <%= link_to 'Edit', edit_skyfarer_path(skyfarer) %> |
             <%= link_to 'Destroy', skyfarer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skyfarer', new_skyfarer_path %>
