<p id="notice"><%= notice %></p>

<h1>Arsenals</h1>

<table class="table table-dark table-hover text-center" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="captain">Captain</th>
      <th data-sortable="true" data-field="skyfarer">Equipped by</th>
      <th data-sortable="true" data-field="weapon">Weapon</th>
      <th data-sortable="true" data-field="equipped">Equipped</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @arsenals.each do |arsenal| %>
      <tr>
        <td><%= arsenal.captain_id %></td>
        <td><%= arsenal.skyfarer_id %></td>
        <td><%= arsenal.weapon_id %></td>
        <td><%= arsenal.equipped %></td>
        <td><%= link_to 'Show', arsenal %> |
             <%= link_to 'Edit', edit_arsenal_path(arsenal) %> |
             <%= link_to 'Scrap', arsenal, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
