<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "Sky Crew - Alpha", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Users",   '/users' %></li>
        <li><%= link_to "Captains",   '/captains' %></li>
        <li><%= link_to "Skyfarers", '/skyfarers' %></li>
        <li><%= link_to "Weapons", '/weapons' %></li>
        <li><%= link_to "Arsenals", '/arsenals' %></li>
      </ul>
    </nav>
  </div>
</header>
